In [11]:
import pandas as pd
from pandas import Series
import numpy as np

In [2]:
fandango = pd.read_csv("Fandango_score_comparison.csv")
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

### indexation avec des entiers

In [3]:
series_film = fandango["FILM"]
series_film.head()

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [4]:
series_rt = fandango["RottenTomatoes"]
series_rt[0:5]

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

### Personnaliser son indexage

In [5]:
# series(data,index)
film_names = series_film.values # critere de recherches : index
rt_scores = series_rt.values  # données à rétourner : data

series_custom = Series(rt_scores,index = film_names)

# on vient de créer une recherche sur rt_score à partir du nom d'un film

In [6]:
series_custom[["Ant-Man (2015)"]]

Ant-Man (2015)    80
dtype: int64

### Réindexer un objet series

In [7]:
# reindex(nouvel_liste_index)
original_index = series_custom.index
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)
sorted_by_index.head()

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
dtype: int64

### Trier un object series

In [8]:
# series.sort_index() , series.sort_values()
sc2 = series_custom.sort_index()
sc3= series_custom.sort_values()
sc3[0:10]

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

In [9]:
sc2[0:10]

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

### Transformation de colonnes

In [10]:
# Normlisé la series_custom 
series_normalized = series_custom / 20
series_normalized

Avengers: Age of Ultron (2015)               3.70
Cinderella (2015)                            4.25
Ant-Man (2015)                               4.00
Do You Believe? (2015)                       0.90
Hot Tub Time Machine 2 (2015)                0.70
                                             ...
Mr. Holmes (2015)                            4.35
'71 (2015)                                   4.85
Two Days, One Night (2014)                   4.85
Gett: The Trial of Viviane Amsalem (2015)    5.00
Kumiko, The Treasure Hunter (2015)           4.35
Length: 146, dtype: float64

### Comparer et filtrer

In [15]:
criteria_one = series_custom > 50
criteria_two = series_custom < 70
both_criteria = series_custom[criteria_one & criteria_two]
both_criteria

The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

### Alignement des données

In [17]:
# series à partir des notes du site
rt_critics = Series(fandango["RottenTomatoes"].values, index = fandango["FILM"].values)
rt_critics.head()

Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
Ant-Man (2015)                    80
Do You Believe? (2015)            18
Hot Tub Time Machine 2 (2015)     14
dtype: int64

In [19]:
# series à partir des notes users
rt_users = Series(fandango["RottenTomatoes_User"].values, index = fandango["FILM"].values)
rt_users.head()

Avengers: Age of Ultron (2015)    86
Cinderella (2015)                 80
Ant-Man (2015)                    90
Do You Believe? (2015)            84
Hot Tub Time Machine 2 (2015)     28
dtype: int64

In [20]:
# les deux series contiennent les mêmes clés : nom de film on fait donc une moyenne
rt_mean = (rt_critics + rt_users) / 2
rt_mean.head()

Avengers: Age of Ultron (2015)    80.0
Cinderella (2015)                 82.5
Ant-Man (2015)                    85.0
Do You Believe? (2015)            51.0
Hot Tub Time Machine 2 (2015)     21.0
dtype: float64