### Cas pratique

In [1]:
import numpy as np

In [66]:
vector = np.array(['10','20','30']).astype(int)

In [3]:
matrix = np.array([[5,10,15],[20,25,30],[35,40,45]])

In [67]:
vector

array([10, 20, 30])

In [5]:
matrix

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [6]:
vector_shape = vector.shape

In [7]:
matrix_shape = matrix.shape

In [8]:
vector_shape

(3,)

In [9]:
matrix_shape

(3, 3)

## Lire un dataset

In [10]:
world_alcohol = np.genfromtxt('world_alcohol.csv', delimiter =',')
print(type(world_alcohol))

<class 'numpy.ndarray'>

In [11]:
world_alcohol.dtype

dtype('float64')

In [12]:
world_alcohol = np.genfromtxt('world_alcohol.csv', delimiter =',', dtype = 'U75')
world_alcohol

array([['Year', 'WHO region', 'Country', 'Beverage Types',
        'Display Value'],
       ['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

In [13]:
world_alcohol = np.genfromtxt('world_alcohol.csv', delimiter =',', dtype = 'U75', skip_header = 1)
world_alcohol

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

### extraction de donnÃ©es

In [14]:
ivoire_1985 = world_alcohol[2,4]
ivoire_1985

'1.62'

In [15]:
second_contry = world_alcohol[1,2]
second_contry

'Uruguay'

In [16]:
contries = world_alcohol[:,2]
contries

array(['Viet Nam', 'Uruguay', "Cte d'Ivoire", ..., 'Switzerland',
       'Papua New Guinea', 'Swaziland'], dtype='<U75')

In [17]:
alcohol_consumption = world_alcohol[:,4]
alcohol_consumption

array(['0', '0.5', '1.62', ..., '2.54', '0', '5.15'], dtype='<U75')

In [18]:
first_two_colums = world_alcohol[:,0:2]
first_two_colums

array([['1986', 'Western Pacific'],
       ['1986', 'Americas'],
       ['1985', 'Africa'],
       ...,
       ['1986', 'Europe'],
       ['1987', 'Western Pacific'],
       ['1986', 'Africa']], dtype='<U75')

In [19]:
first_ten_years = world_alcohol[0:10,0]
first_ten_years

array(['1986', '1986', '1985', '1986', '1987', '1987', '1987', '1985',
       '1986', '1984'], dtype='<U75')

In [20]:
first_ten_rows = world_alcohol[0:10,:]
first_ten_rows

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ['1986', 'Americas', 'Colombia', 'Beer', '4.27'],
       ['1987', 'Americas', 'Saint Kitts and Nevis', 'Beer', '1.98'],
       ['1987', 'Americas', 'Guatemala', 'Other', '0'],
       ['1987', 'Africa', 'Mauritius', 'Wine', '0.13'],
       ['1985', 'Africa', 'Angola', 'Spirits', '0.39'],
       ['1986', 'Americas', 'Antigua and Barbuda', 'Spirits', '1.55'],
       ['1984', 'Africa', 'Nigeria', 'Other', '6.1']], dtype='<U75')

In [21]:
first_twenty_regions = world_alcohol[0:20,1:3]
first_twenty_regions

array([['Western Pacific', 'Viet Nam'],
       ['Americas', 'Uruguay'],
       ['Africa', "Cte d'Ivoire"],
       ['Americas', 'Colombia'],
       ['Americas', 'Saint Kitts and Nevis'],
       ['Americas', 'Guatemala'],
       ['Africa', 'Mauritius'],
       ['Africa', 'Angola'],
       ['Americas', 'Antigua and Barbuda'],
       ['Africa', 'Nigeria'],
       ['Africa', 'Botswana'],
       ['Americas', 'Guatemala'],
       ['Western Pacific', "Lao People's Democratic Republic"],
       ['Eastern Mediterranean', 'Afghanistan'],
       ['Western Pacific', 'Viet Nam'],
       ['Africa', 'Guinea-Bissau'],
       ['Americas', 'Costa Rica'],
       ['Africa', 'Seychelles'],
       ['Europe', 'Norway'],
       ['Africa', 'Kenya']], dtype='<U75')

### Effectuer des comparaisons

In [22]:
contries_canada = contries == "Canada"
contries_canada

array([False, False, False, ..., False, False, False])

In [23]:
year_1984 = (world_alcohol[:,0])=="1984"
year_1984

array([False, False, False, ..., False, False, False])

### Selectionner des Ã©lements

In [24]:
contry_is_algeria = (world_alcohol[:,2]) == "Algeria"
contry_is_algeria 
contry_algeria = world_alcohol[contry_is_algeria]
contry_algeria

array([['1984', 'Africa', 'Algeria', 'Spirits', '0.01'],
       ['1987', 'Africa', 'Algeria', 'Beer', '0.17'],
       ['1987', 'Africa', 'Algeria', 'Spirits', '0.01'],
       ['1986', 'Africa', 'Algeria', 'Wine', '0.1'],
       ['1984', 'Africa', 'Algeria', 'Other', '0'],
       ['1989', 'Africa', 'Algeria', 'Beer', '0.16'],
       ['1989', 'Africa', 'Algeria', 'Spirits', '0.01'],
       ['1989', 'Africa', 'Algeria', 'Wine', '0.23'],
       ['1986', 'Africa', 'Algeria', 'Spirits', '0.01'],
       ['1984', 'Africa', 'Algeria', 'Wine', '0.12'],
       ['1985', 'Africa', 'Algeria', 'Beer', '0.19'],
       ['1985', 'Africa', 'Algeria', 'Other', '0'],
       ['1986', 'Africa', 'Algeria', 'Beer', '0.18'],
       ['1985', 'Africa', 'Algeria', 'Wine', '0.11'],
       ['1986', 'Africa', 'Algeria', 'Other', '0'],
       ['1989', 'Africa', 'Algeria', 'Other', '0'],
       ['1987', 'Africa', 'Algeria', 'Other', '0'],
       ['1984', 'Africa', 'Algeria', 'Beer', '0.2'],
       ['1985', 'Africa', 'Algeria', 'Spirits', '0.01'],
       ['1987', 'Africa', 'Algeria', 'Wine', '0.1']], dtype='<U75')

In [25]:
years_1984 = (world_alcohol[:,0]) == "1984"
lignes_1984 = world_alcohol[years_1984]
lignes_1984

array([['1984', 'Africa', 'Nigeria', 'Other', '6.1'],
       ['1984', 'Eastern Mediterranean', 'Afghanistan', 'Other', '0'],
       ['1984', 'Americas', 'Costa Rica', 'Wine', '0.06'],
       ...,
       ['1984', 'Europe', 'Latvia', 'Spirits', '7.5'],
       ['1984', 'Africa', 'Angola', 'Wine', '0.57'],
       ['1984', 'Africa', 'Central African Republic', 'Wine', '0.46']],
      dtype='<U75')

### Comparaisons avec plusieurs conditions

In [26]:
is_algeria_and_1986 = (world_alcohol[:,2] == "Algeria") & (world_alcohol[:,0] == "1986")
rows_with_algeria_and_1986 = world_alcohol[is_algeria_and_1986]
print(rows_with_algeria_and_1986)

[['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1986' 'Africa' 'Algeria' 'Other' '0']]

### Remplacer des valeurs

In [27]:
world_alcohol2 = world_alcohol.copy()
world_alcohol2[:,0][world_alcohol2[:,0]=="1986"] == "2018"
world_alcohol2[:,0]

array(['1986', '1986', '1985', ..., '1986', '1987', '1986'], dtype='<U75')

In [28]:
world_alcohol2[:,3][world_alcohol2[:,3]=="Wine"] == "Beer"
world_alcohol2[:,3]

array(['Wine', 'Other', 'Wine', ..., 'Spirits', 'Other', 'Other'],
      dtype='<U75')

In [29]:
world_alcohol2[world_alcohol2[:,3]=="Beer"]

array([['1986', 'Americas', 'Colombia', 'Beer', '4.27'],
       ['1987', 'Americas', 'Saint Kitts and Nevis', 'Beer', '1.98'],
       ['1989', 'Americas', 'Guatemala', 'Beer', '0.62'],
       ...,
       ['1986', 'Africa', 'Seychelles', 'Beer', '2.16'],
       ['1986', 'Europe', 'Slovenia', 'Beer', '3.71'],
       ['1989', 'Europe', 'Poland', 'Beer', '2.03']], dtype='<U75')

### Remplacer les chaines de caracteres vide

In [30]:
is_value_empty = (world_alcohol[:,4])== ''
world_alcohol[is_value_empty,4] == '0'
world_alcohol

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

### Convertir des types de donnÃ©es

In [73]:
alcohol_consumption = world_alcohol[:,4]
alcohol_consumption=alcohol_consumption.astype(float)
alcohol_consumption

ValueError: could not convert string to float:

###  RÃ©aliser des calculs mathÃ©matiques

In [61]:
# sum(), mean(), max()
total_alcohol =  alcohol_consumption.sum()

TypeError: cannot perform reduce with flexible type